
*{
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}

@media all and (max-width: 571px) {
    
    .input-task{
        margin-top: 6px;
        width: -webkit-fill-available;
        
    }

    .table-task {
        margin-top: 10px;
    }
}


@media all and (max-width: 374px) {
    .nav{
        justify-content: flex-start !important;
    }
    .logo{
        display: none;
    }
    .Cell {
        padding: 0  ;
    }

}