
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
*{
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
} */
